<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="Database" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Goh Ee Cheng\Desktop\Programming_Cafe_Management_System-master\Programming_Cafe_Management_System-master\ioop_assignment\Database.mdf;Integrated Security=True;Connect Timeout=30"
			 providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>